﻿<!-- ko with: home -->
<div class="jumbotron">
    <h1>Min matteapp</h1>
    <p class="lead">En liten app för att träna på enkla räkneuppgifter. @*Skapa ett konto så kan vi spara dina framsteg.*@</p>
    <p><a href="/Home/LillaMinus" class="btn btn-primary btn-lg">Kom igång &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lilla minus</h2>
        <p>Öva på subtraktion på tal från 1 till 10.</p>
       
        <p><a class="btn btn-default" href="/Home/SimpleProblems/Lilla Minus">Lilla minus &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Lilla plus</h2>
        <p>
            Öva på addition av tal där summan blir högst 10. <br/>
            Tanketips: störst tal först!
        </p>
        <p><a class="btn btn-default" href="/Home/SimpleProblems/Lilla Plus">Lilla plus &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Mer?</h2>
        <p>Det kommer mer att öva på så småningom...</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>

<!-- /ko -->
