﻿
@{
    ViewBag.Title = "Om";
}

<h2>Om</h2>
<p>
    Den här enkla matteappen kom till för att jag ville testa att göra en webbaplikation som jag kunde publisera till 
    Azure och att min dotter lätt ska kunna öva på enkla matteuppgifter.
</p>

<div>
    <h4>0.3</h4>
    <p>Nu går det att välja exakt hur många uppgifter som ska lösas.</p>
    <p>Det går att välja om en tidtagare ska visas eller om uppgifterna ska lösas inom en given tid.</p>
</div>
<div>
    <h4>0.2</h4>
    <p>Förhoppningsvis kommer ett numeriskt tangentbord upp när appen körs på en telefon nu...</p>
</div>
<div>
    <h4>0.1</h4>
    <p>Appen publiserades på Azure för att kunna testa på mobilen.</p>
</div>