﻿@model MatteApp.Models.SimpleProblemModel[]
@{
    ViewBag.Title = ViewBag.ProblemListName;
}

@Scripts.Render("~/bundles/site")

<h2>@ViewBag.ProblemListName</h2>

<div id="equationiterator">...</div>

<script type="text/javascript">
    $(document).ready(function () {
        var model = @Html.Raw(Json.Encode(Model));
        initEquationIterator(model);
    });
</script>
